html {
  background: #1CD8D2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(#1CD8D2, #93EDC7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#1CD8D2, #93EDC7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bday {
  text-align: center;
  font-size: 8em;
  margin: 0;
  color: white;
  font-family: sans-serif;
  text-shadow: 3px 6px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30%;
}

.bday-sub {
  color: white;
  margin: 0;
  font-family: sans-serif;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.bday-share {
  color: blue;
}
.bday-share:hover, .bday-share:focus {
  color: #00009b;
}

.element {
  animation-fill-mode: both;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.element-head {
  width: 100%;
  height: 100%;
  position: absolute;
  fill: url(#gradient);
  opacity: 0.9;
}

.element-body {
  width: 100%;
  height: 100%;
  margin-top: 100%;
  position: absolute;
}
.element-body g {
  stroke: url(#gradient);
}

.element:nth-child(1) {
  width: 23px;
  height: 23px;
  top: 95%;
  left: 70%;
  animation-duration: 4989ms;
  animation-name: oFillUp--1;
}

@keyframes oFillUp--1 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(2) {
  width: 35px;
  height: 35px;
  top: 24%;
  left: 20%;
  animation-duration: 4854ms;
  animation-name: oFillUp--2;
}

@keyframes oFillUp--2 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(3) {
  width: 17px;
  height: 17px;
  top: 48%;
  left: 39%;
  animation-duration: 4232ms;
  animation-name: oFillUp--3;
}

@keyframes oFillUp--3 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(4) {
  width: 18px;
  height: 18px;
  top: 69%;
  left: 34%;
  animation-duration: 3816ms;
  animation-name: oFillUp--4;
}

@keyframes oFillUp--4 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(5) {
  width: 32px;
  height: 32px;
  top: 94%;
  left: 6%;
  animation-duration: 3980ms;
  animation-name: oFillUp--5;
}

@keyframes oFillUp--5 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(6) {
  width: 37px;
  height: 37px;
  top: 6%;
  left: 43%;
  animation-duration: 3950ms;
  animation-name: oFillUp--6;
}

@keyframes oFillUp--6 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(7) {
  width: 22px;
  height: 22px;
  top: 85%;
  left: 88%;
  animation-duration: 4678ms;
  animation-name: oFillUp--7;
}

@keyframes oFillUp--7 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(8) {
  width: 24px;
  height: 24px;
  top: 59%;
  left: 9%;
  animation-duration: 3256ms;
  animation-name: oFillUp--8;
}

@keyframes oFillUp--8 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(9) {
  width: 39px;
  height: 39px;
  top: 66%;
  left: 73%;
  animation-duration: 2444ms;
  animation-name: oFillUp--9;
}

@keyframes oFillUp--9 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(10) {
  width: 30px;
  height: 30px;
  top: 54%;
  left: 51%;
  animation-duration: 2010ms;
  animation-name: oFillUp--10;
}

@keyframes oFillUp--10 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(11) {
  width: 30px;
  height: 30px;
  top: 87%;
  left: 70%;
  animation-duration: 3878ms;
  animation-name: oFillUp--11;
}

@keyframes oFillUp--11 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(12) {
  width: 13px;
  height: 13px;
  top: 16%;
  left: 68%;
  animation-duration: 2528ms;
  animation-name: oFillUp--12;
}

@keyframes oFillUp--12 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(13) {
  width: 21px;
  height: 21px;
  top: 14%;
  left: 54%;
  animation-duration: 4207ms;
  animation-name: oFillUp--13;
}

@keyframes oFillUp--13 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(14) {
  width: 14px;
  height: 14px;
  top: 26%;
  left: 77%;
  animation-duration: 1808ms;
  animation-name: oFillUp--14;
}

@keyframes oFillUp--14 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(15) {
  width: 32px;
  height: 32px;
  top: 24%;
  left: 51%;
  animation-duration: 1895ms;
  animation-name: oFillUp--15;
}

@keyframes oFillUp--15 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(16) {
  width: 39px;
  height: 39px;
  top: 6%;
  left: 91%;
  animation-duration: 4552ms;
  animation-name: oFillUp--16;
}

@keyframes oFillUp--16 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(17) {
  width: 20px;
  height: 20px;
  top: 67%;
  left: 10%;
  animation-duration: 835ms;
  animation-name: oFillUp--17;
}

@keyframes oFillUp--17 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(18) {
  width: 20px;
  height: 20px;
  top: 71%;
  left: 53%;
  animation-duration: 2552ms;
  animation-name: oFillUp--18;
}

@keyframes oFillUp--18 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(19) {
  width: 14px;
  height: 14px;
  top: 48%;
  left: 71%;
  animation-duration: 4278ms;
  animation-name: oFillUp--19;
}

@keyframes oFillUp--19 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(20) {
  width: 30px;
  height: 30px;
  top: 90%;
  left: 85%;
  animation-duration: 720ms;
  animation-name: oFillUp--20;
}

@keyframes oFillUp--20 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(21) {
  width: 27px;
  height: 27px;
  top: 48%;
  left: 78%;
  animation-duration: -1237ms;
  animation-name: oFillUp--21;
}

@keyframes oFillUp--21 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(22) {
  width: 15px;
  height: 15px;
  top: 62%;
  left: 16%;
  animation-duration: 3152ms;
  animation-name: oFillUp--22;
}

@keyframes oFillUp--22 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(23) {
  width: 33px;
  height: 33px;
  top: 61%;
  left: 18%;
  animation-duration: 1642ms;
  animation-name: oFillUp--23;
}

@keyframes oFillUp--23 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(24) {
  width: 30px;
  height: 30px;
  top: 8%;
  left: 28%;
  animation-duration: 1688ms;
  animation-name: oFillUp--24;
}

@keyframes oFillUp--24 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(25) {
  width: 13px;
  height: 13px;
  top: 89%;
  left: 55%;
  animation-duration: -2450ms;
  animation-name: oFillUp--25;
}

@keyframes oFillUp--25 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(26) {
  width: 39px;
  height: 39px;
  top: 58%;
  left: 23%;
  animation-duration: -1318ms;
  animation-name: oFillUp--26;
}

@keyframes oFillUp--26 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(27) {
  width: 22px;
  height: 22px;
  top: 55%;
  left: 67%;
  animation-duration: 4190ms;
  animation-name: oFillUp--27;
}

@keyframes oFillUp--27 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(28) {
  width: 29px;
  height: 29px;
  top: 29%;
  left: 74%;
  animation-duration: -2392ms;
  animation-name: oFillUp--28;
}

@keyframes oFillUp--28 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(29) {
  width: 25px;
  height: 25px;
  top: 82%;
  left: 92%;
  animation-duration: -2424ms;
  animation-name: oFillUp--29;
}

@keyframes oFillUp--29 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(30) {
  width: 23px;
  height: 23px;
  top: 86%;
  left: 74%;
  animation-duration: -3700ms;
  animation-name: oFillUp--30;
}

@keyframes oFillUp--30 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element--explode {
  animation-duration: 200ms !important;
  animation-name: implode !important;
}

@keyframes implode {
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0;
    pointer-events: none;
  }
}
.diamond {
  transform: rotate(45deg);
}

.circle {
  border-radius: 50%;
  transform: rotate(-20deg);
}

.bubble {
  animation-fill-mode: both;
  margin: -10px;
  position: absolute;
  border: 2px solid red;
  transform: scale(0, 0);
  z-index: 1;
}

.bubble:nth-child(1) {
  width: 14px;
  height: 14px;
  animation-duration: 100ms;
  animation-name: bMove--1;
  animation-delay: 100ms;
}

@keyframes bMove--1 {
  0% {
    transform: rotate(255deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(255deg) translate(-50px, -33px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(2) {
  width: 16px;
  height: 16px;
  animation-duration: 355ms;
  animation-name: bMove--2;
  animation-delay: 100ms;
}

@keyframes bMove--2 {
  0% {
    transform: rotate(261deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(261deg) translate(-32px, -22px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(3) {
  width: 7px;
  height: 7px;
  animation-duration: 278ms;
  animation-name: bMove--3;
  animation-delay: 100ms;
}

@keyframes bMove--3 {
  0% {
    transform: rotate(17deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(17deg) translate(-34px, 74px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(4) {
  width: 22px;
  height: 22px;
  animation-duration: 980ms;
  animation-name: bMove--4;
  animation-delay: 100ms;
}

@keyframes bMove--4 {
  0% {
    transform: rotate(124deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(124deg) translate(61px, -62px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(5) {
  width: 10px;
  height: 10px;
  animation-duration: 325ms;
  animation-name: bMove--5;
  animation-delay: 100ms;
}

@keyframes bMove--5 {
  0% {
    transform: rotate(76deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(76deg) translate(66px, -35px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(6) {
  width: 16px;
  height: 16px;
  animation-duration: 749ms;
  animation-name: bMove--6;
  animation-delay: 100ms;
}

@keyframes bMove--6 {
  0% {
    transform: rotate(162deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(162deg) translate(-44px, -11px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(7) {
  width: 25px;
  height: 25px;
  animation-duration: 325ms;
  animation-name: bMove--7;
  animation-delay: 100ms;
}

@keyframes bMove--7 {
  0% {
    transform: rotate(9deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(9deg) translate(59px, 75px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(8) {
  width: 17px;
  height: 17px;
  animation-duration: 598ms;
  animation-name: bMove--8;
  animation-delay: 100ms;
}

@keyframes bMove--8 {
  0% {
    transform: rotate(341deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(341deg) translate(-14px, -40px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  animation-duration: 563ms;
  animation-name: bMove--9;
  animation-delay: 100ms;
}

@keyframes bMove--9 {
  0% {
    transform: rotate(236deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(236deg) translate(15px, -7px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(10) {
  width: 12px;
  height: 12px;
  animation-duration: 238ms;
  animation-name: bMove--10;
  animation-delay: 100ms;
}

@keyframes bMove--10 {
  0% {
    transform: rotate(328deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(328deg) translate(19px, 3px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(11) {
  width: 6px;
  height: 6px;
  animation-duration: 518ms;
  animation-name: bMove--11;
  animation-delay: 100ms;
}

@keyframes bMove--11 {
  0% {
    transform: rotate(213deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(213deg) translate(26px, 25px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(12) {
  width: 17px;
  height: 17px;
  animation-duration: 841ms;
  animation-name: bMove--12;
  animation-delay: 100ms;
}

@keyframes bMove--12 {
  0% {
    transform: rotate(330deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(330deg) translate(-11px, -6px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(13) {
  width: 8px;
  height: 8px;
  animation-duration: 851ms;
  animation-name: bMove--13;
  animation-delay: 100ms;
}

@keyframes bMove--13 {
  0% {
    transform: rotate(219deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(219deg) translate(-4px, 50px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(14) {
  width: 18px;
  height: 18px;
  animation-duration: 132ms;
  animation-name: bMove--14;
  animation-delay: 100ms;
}

@keyframes bMove--14 {
  0% {
    transform: rotate(328deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(328deg) translate(5px, -15px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(15) {
  width: 25px;
  height: 25px;
  animation-duration: 778ms;
  animation-name: bMove--15;
  animation-delay: 100ms;
}

@keyframes bMove--15 {
  0% {
    transform: rotate(293deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(293deg) translate(30px, -36px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(16) {
  width: 21px;
  height: 21px;
  animation-duration: 478ms;
  animation-name: bMove--16;
  animation-delay: 100ms;
}

@keyframes bMove--16 {
  0% {
    transform: rotate(193deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(193deg) translate(-17px, 39px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(17) {
  width: 24px;
  height: 24px;
  animation-duration: 194ms;
  animation-name: bMove--17;
  animation-delay: 100ms;
}

@keyframes bMove--17 {
  0% {
    transform: rotate(186deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(186deg) translate(1px, -10px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(18) {
  width: 13px;
  height: 13px;
  animation-duration: 336ms;
  animation-name: bMove--18;
  animation-delay: 100ms;
}

@keyframes bMove--18 {
  0% {
    transform: rotate(293deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(293deg) translate(12px, 57px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(19) {
  width: 14px;
  height: 14px;
  animation-duration: 412ms;
  animation-name: bMove--19;
  animation-delay: 100ms;
}

@keyframes bMove--19 {
  0% {
    transform: rotate(245deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(245deg) translate(-73px, 6px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(20) {
  width: 11px;
  height: 11px;
  animation-duration: 188ms;
  animation-name: bMove--20;
  animation-delay: 100ms;
}

@keyframes bMove--20 {
  0% {
    transform: rotate(288deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(288deg) translate(-53px, 9px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(21) {
  width: 11px;
  height: 11px;
  animation-duration: 412ms;
  animation-name: bMove--21;
  animation-delay: 100ms;
}

@keyframes bMove--21 {
  0% {
    transform: rotate(343deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(343deg) translate(-40px, -22px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(22) {
  width: 9px;
  height: 9px;
  animation-duration: 362ms;
  animation-name: bMove--22;
  animation-delay: 100ms;
}

@keyframes bMove--22 {
  0% {
    transform: rotate(350deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(350deg) translate(4px, -57px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(23) {
  width: 14px;
  height: 14px;
  animation-duration: 308ms;
  animation-name: bMove--23;
  animation-delay: 100ms;
}

@keyframes bMove--23 {
  0% {
    transform: rotate(215deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(215deg) translate(94px, -17px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(24) {
  width: 16px;
  height: 16px;
  animation-duration: 243ms;
  animation-name: bMove--24;
  animation-delay: 100ms;
}

@keyframes bMove--24 {
  0% {
    transform: rotate(164deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(164deg) translate(55px, 33px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(25) {
  width: 15px;
  height: 15px;
  animation-duration: 834ms;
  animation-name: bMove--25;
  animation-delay: 100ms;
}

@keyframes bMove--25 {
  0% {
    transform: rotate(192deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(192deg) translate(-44px, 12px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(26) {
  width: 25px;
  height: 25px;
  animation-duration: 822ms;
  animation-name: bMove--26;
  animation-delay: 100ms;
}

@keyframes bMove--26 {
  0% {
    transform: rotate(38deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(38deg) translate(-14px, 5px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(27) {
  width: 7px;
  height: 7px;
  animation-duration: 814ms;
  animation-name: bMove--27;
  animation-delay: 100ms;
}

@keyframes bMove--27 {
  0% {
    transform: rotate(268deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(268deg) translate(-58px, 14px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(28) {
  width: 12px;
  height: 12px;
  animation-duration: 140ms;
  animation-name: bMove--28;
  animation-delay: 100ms;
}

@keyframes bMove--28 {
  0% {
    transform: rotate(37deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(37deg) translate(4px, -3px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(29) {
  width: 16px;
  height: 16px;
  animation-duration: 471ms;
  animation-name: bMove--29;
  animation-delay: 100ms;
}

@keyframes bMove--29 {
  0% {
    transform: rotate(35deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(35deg) translate(9px, 36px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(30) {
  width: 14px;
  height: 14px;
  animation-duration: 693ms;
  animation-name: bMove--30;
  animation-delay: 100ms;
}

@keyframes bMove--30 {
  0% {
    transform: rotate(297deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(297deg) translate(-16px, -72px) scale(1, 1);
    opacity: 0;
  }
}
.element-body-0 {
  opacity: 0.7;
}

.element-body-1 {
  opacity: 0.9;
}

.element-body-2 {
  opacity: 0.6;
}

.element-body-3 {
  opacity: 0.6;
}

.element-body-4 {
  opacity: 0.9;
}

.element-body-5 {
  opacity: 0.6;
}

.element-body-6 {
  opacity: 1;
}

.element-body-7 {
  opacity: 0.4;
}

.element-body-8 {
  opacity: 1.2;
}

.element-body-9 {
  opacity: 0.8;
}